@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Regular.woff2") format("woff2"), url("../../fonts/merriweather/Merriweather-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/merriweather/Merriweather-Bold.woff2") format("woff2"), url("../../fonts/merriweather/Merriweather-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../../fonts/golos-text/GolosText-Regular.woff2") format("woff2"), url("../../fonts/golos-text/GolosText-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../../fonts/golos-text/GolosText-SemiBold.woff2") format("woff2"), url("../../fonts/golos-text/GolosText-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../../fonts/golos-text/GolosText-Medium.woff2") format("woff2"), url("../../fonts/golos-text/GolosText-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
