@mixin list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@mixin pseudo ($display: block, $pos: absolute, $content: "" ) {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@function z($name) {
  @if index($z-indexes, $name) {
  @return (length($z-indexes) - index($z-indexes, $name)) + 100;
  } @else {
  @warn "There is no item "#{$name}" in this list; choose one of: #{$z-indexes}";
  @return null;
  }
}
$z-indexes: (
  "header",
  "content",
  "overlay",
  "header",
);

@function z-image($name) {
  @if index($z-images, $name) {
  @return (length($z-images) - index($z-images, $name)) + 1;
  } @else {
  @warn "There is no item "#{$name}" in this list; choose one of: #{$z-images}";
  @return null;
  }
}
$z-images: (
  "horse",
  "pawn",
  "city",
  "bacground",
  "king",
  "queen",
  "sun",
  "header",
  "black-horse"
);
