.chess-club {
  padding-top: 80px;
  padding-bottom: 80px;
}

.chess-club__top {
  font-family: $second-font;
  font-size: 36px;
  line-height: 1.35;
  text-transform: uppercase;
  padding-top: 28px;

  strong {
    color: #f54932;
  }
}

.chess-club__img {
  border-radius: 197px/125px;
  float: right;
  margin-left: 64px;
  margin-top: -28px;
  max-width: 400px;
}

.chess-club__price {
  display: flex;
  padding-top: 36px;
}

.chess-club__image {
  flex-shrink: 0;
  width: 528px;
  height: 609px;
  margin-left: -28px;
  position: relative;
}

.chess-club__black-horse {
  position: absolute;
  bottom: 53px;
  left: 91px;
  z-index: z-image(black-horse);

  .animate & {
    animation: jump-horse 0.7s;
    animation-delay: 800ms;
  }
}

.chess-club__boom {
  position: absolute;
  bottom: 69px;
  left: 14px;
  transform: scale(0);

  .animate & {
    animation: boom 0.7s;
    animation-delay: 800ms;
    animation-fill-mode: forwards;
  }
}

.chess-club__hand {
  position: absolute;
  bottom: -43px;
  right: 21px;

  .animate & {
    animation: hand-rotate 1s ease;
  }
}

.chess-club__content-title {
  font-family: $second-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 61px;

  strong {
    color: #f54932;
  }
}

.chess-club__content {
  padding-left: 17px;
}

.chess-club__table {
  border-collapse: collapse;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 49px;

  tr {

    &:not(:last-child) {
      border-bottom: 2px solid #d0d0d0;
    }

    &:first-child {
      th, td {
        padding-top: 0;
      }
    }

    &:last-child {
      th, td {
        padding-bottom: 0;
      }
    }
  }

  th {
    border-right: 2px solid #d0d0d0;
    font-weight: 400;
    color: #313131;
    opacity: 0.7;
    text-align: left;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  td {
    font-weight: 600;
    color: #313131;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  del {
    text-decoration-color: #F54932;
    margin-right: 8px;
  }
}

.chess-club__link {
  color: #3057A2;
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: $tablet-width) {
  .chess-club__top {
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }

  .chess-club__desc-top {
    order: -1;
  }

  .chess-club__img {
    margin-top: 24;
    float: none;
    margin-bottom: 24px;
    margin-left: 0;
  }
}
