.hero {
  padding-top: 15px;
  position: relative;
  background-color: #e9ded4;
  overflow: hidden;
}

.hero__title {
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 23px;
}

.hero__desc {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 39px;
}

.hero__content {
  max-width: 542px;
  padding-top: 60px;
  padding-bottom: 130px;
  position: relative;
  z-index: z("content");
}

.hero__sup-title {
  text-align: center;
  display: block;
}

.hero__sub-title {
  display: block;
  text-align: right;
}

.hero__btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero__images {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  top: 0;
  z-index: 1;
}

.hero__images-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background-image: url("../../images/background-hero.png");
  z-index: z-image(bacground);
}

.hero__city {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-image: url('../../images/city.png');
  background-position: left calc(50% + 9px) bottom 0;
  z-index: z-image(city);
}

.hero__sun {
  position: absolute;
  left: calc(50% - 10px);
  top: -43px;
  z-index: z-image(sun);
  overflow: hidden;

  img {
    max-width: none;
  }
}

.hero__sun-text {
  position: absolute;
  top: -59px;
  left: -58px;
  width: 777px;
  height: 777px;
  max-width: none;
  animation: rotate 55s linear infinite;
}

.hero__chess-king {
  position: absolute;
  bottom: 269px;
  left: calc(50%  + 378px);
  z-index: z-image(king);

  .animate & {
    animation: bounceInUp 2s;
  }
}

.hero__chess-queen {
  position: absolute;
  bottom: 164px;
  left: calc(50%  + 46px);
  z-index: z-image(queen);

  .animate & {
    animation: bounceInUp 2s;
    animation-delay: 0.3s;
  }
}

.hero__chess-pawn {
  opacity: 0;
  position: absolute;
  bottom: 19px;
  left: calc(50% + 554px);
  z-index: z-image(pawn);

  .animate & {
    animation: opacity 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
}

.hero__chess-horse {
  opacity: 0;
  position: absolute;
  bottom: -51px;
  left: calc(50% + 153px);
  z-index: z-image(horse);

  .animate & {
    animation: opacity 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
}

@media (max-width: $tablet-width) {
  .hero__btns {
    display: block;
  }

  .hero__link {
    width: 100%;
    max-width: 400px;
    margin-bottom: 14px;
  }
}

@media (max-width: $mobile-width) {
  .hero__title {
    font-size: 36px;
    line-height: 1.1;
  }

  .hero__sup-title {
    padding-left: 9px;
  }

  .hero__desc {
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 33px;
  }

  .hero__link {
    padding: 13px;
    border: none;
    &--light {
      background-color: rgba(255, 255, 255, 1);
      border: none;
    }
  }

  .hero__content {
    padding-bottom: 277px;
    padding-top: 46px;
  }

  .hero__images {
    bottom: 37px;
  }

  .hero__chess-horse {
    display: none;
  }

  .hero__chess-king {
    display: none;
  }

  .hero__chess-pawn {
    display: none;
  }

  .hero__chess-queen {
    display: none;
  }

  .hero__city {
    background-image: url("../../images/city-mobile.png");
    background-position: left calc(50% - 146px) bottom -18px;
  }

  .hero__sun {
    width: 298px;
    height: 298px;
    top: auto;
    left: calc(50% - 156px);
    bottom: 67px;

    .hero__sun-text {
      width: 350px;
      height: 350px;
      left: -27px;
      top: -27px;
      max-width: none;
    }

    img {
      max-width: 100%;
    }
  }

  .hero__creeping-line-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;

    p {
      font-size: 16px;
    }
  }
}
